### Import required libraries

In [72]:
import gzip
import json
import pickle
import glob
import pandas as pd
import numpy as np
from multiprocessing import Pool
from IPython.display import display, clear_output

### Read data and retrieve selected attributes

In [61]:
def extract_data(file):
    papers = []
    for key,paper in enumerate(gzip.open('../00_Data/' + file,'r')):
        paper = json.loads(paper)
        paper = {
            'title': paper.get('title',''),
            'authors': ", ".join([author['name'] for author in paper.get('authors',[])]),
            'year': paper.get('year',''),
            'outCitations': len(paper.get('outCitations',[])),
            'inCitations': len(paper.get('inCitations',[])),
        }
        papers.append(paper)
        if key % 10000 == 0 and key != 0 and '44' in file:
            clear_output(wait=True)
            print("Imported: {}".format(len(papers)-1))
    return papers

In [62]:
files = glob.glob('../00_Data/s2-corpus*')
p = Pool(len(files))
results = p.map(extract_data, files)
p.close()

Imported: 990000

In [63]:
papers = []
for result in results:
    papers += result

### Convert to pandas df and filter rows with missing values

In [65]:
df = pd.DataFrame.from_dict(papers)
df = df[['authors','title','year','outCitations','inCitations']].dropna()

df.describe()

       outCitations   inCitations
count  4.694704e+07  4.694704e+07
mean   7.413495e+00  7.413574e+00
std    1.831689e+01  4.547192e+01
min    0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00
50%    0.000000e+00  1.000000e+00
75%    7.000000e+00  5.000000e+00
max    5.558000e+03  5.701200e+04

In [ ]:
df.to_pickle('../00_Data/semantic_scholar.pickle')