In [10]:
import pandas as pd
from IPython.display import display, clear_output

In [ ]:
dp = pd.read_pickle('../00_Data/dblp.pickle')
ss = pd.read_pickle('../00_Data/semantic_scholar.pickle')

In [58]:
data = {}

for i,paper in dp.iterrows():
    authors = paper['author'].split(',')
    for author in authors:
        author = author.strip()
        if author not in data:
            data[author] = {
                'collaborators': set(),
                'num_papers': 0,
                'years': set()
            }
        data[author]['collaborators'].update(set(authors) - set([author]))
        data[author]['num_papers'] += 1
        data[author]['years'].add(paper['year'])
    if i % 50000 == 0:
        clear_output(wait=True)
        print(i)

9300000

In [64]:
authors = []
for author in data:
    authors.append({
        'author': author,
        'num_unique_collaborators': len(data[author]['collaborators']),
        'num_papers': data[author]['num_papers'],
        'first_year': min(data[author]['years']),
        'last_year': max(data[author]['years']),
        'work_age': int(max(data[author]['years'])) - int(min(data[author]['years']))
    })

authors = pd.DataFrame.from_dict(authors)

In [66]:
authors.describe()

         num_papers  num_unique_collaborators      work_age
count  2.326251e+06              2.326251e+06  2.326251e+06
mean   5.797176e+00              1.138585e+01  3.636700e+00
std    1.832137e+01              2.693265e+01  6.418023e+00
min    1.000000e+00              0.000000e+00  0.000000e+00
25%    1.000000e+00              3.000000e+00  0.000000e+00
50%    2.000000e+00              5.000000e+00  0.000000e+00
75%    4.000000e+00              1.000000e+01  5.000000e+00
max    1.703000e+03              3.193000e+03  7.500000e+01

In [67]:
authors.to_pickle('../00_Data/authors.pickle')